$primaryColor: #242424;
$actionSection: black;

%buttonsDesign {
    position: relative;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    z-index: 10000;
    cursor: pointer;
    transition: border-color 0.25s;
}

$scalingSvgBtn: translate(-45%, -40%);

.HomeBtn {

    div:nth-child(1) button {
        @extend %buttonsDesign;
        height: 100%;
        width: 100%;
        outline: none;
    }
        div:nth-child(1) {
        z-index: 10000;
    }

    svg {
        width: 50%;
        height: 50%;
        transition: 250ms;
    }

    div:nth-child(1):hover svg {
        scale: 1.2;
        transform: $scalingSvgBtn;
    }

}

a {
    color: white;
    transition: 300ms;
    
}

.CharCard {

    div:nth-child(1) button {
        @extend %buttonsDesign;
        height: 100%;
    }

    div:nth-child(1) {
        z-index: 10000;
    }

    svg {
        width: 50%;
        height: 50%;
        transition: 250ms;
    }

    div:nth-child(1):hover svg {
        fill: red;
        scale: 1.2;
        transform: $scalingSvgBtn;
    }

}

.ActionSection {
    background-color: $actionSection;
    @extend %buttonsDesign;
    opacity: 0%;

    max-width: max-content;
    animation: ActionNegative 1000ms 0s linear;

}


@keyframes ActionNegative {
    0% {
        display: block;
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        display: none;

    }
}

#presentation {
    position: relative;
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    
    img {

        width: 200px;
    }
    h1 {
        font-size: larger;
    }

}